server {
  listen                443 ssl;
  ssl_certificate       /etc/ssl/certs/{{ inventory_hostname }}.pem;
  ssl_certificate_key   /etc/ssl/private/{{ inventory_hostname }}.pem;
  server_name           remote remote.{{ domain }};

  root                  /usr/local/share/remote/www/;
  index                 index.html;

  location ~ \.pl$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass  unix:/var/run/fcgiwrap.socket;
    # See:  http://stackoverflow.com/a/15424808
    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
  }
}
